<div class="row mt-5 ">
    <div class="col-6 p-4">
        <img src="https://cdn.sanity.io/images/jsdrzfkj/recepedia-global-production/2649fd4b2d3f6edca203c11059834dff4af1de07-2000x2000.jpg?w=2000&h=2000&auto=format" width="100%" alt="">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, iusto voluptatem aut a odio necessitatibus rem consequuntur quod numquam aperiam cum ducimus laboriosam culpa, ex totam mollitia repellendus minus remque recusandae, expedita dolores nemo harum temporibus sint repudiandae possimus molestias eos sequi itaque ipsam cupiditate omnis ratione, tenetur exercitationem sed nihil consequatur nulla autem! Consequuntur, quidem.</p>
        <ul>
            <li> adipisicing elit Possimus placeat dolorum laborum rem numquam. architecto ex unde officia quibusdam, nemo sit laudantium.</li>
            <li> Possimus placeat dolorum laborum rem numquam. Iusto libero fficia quibusdam, nemo sit laudantium.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto quibusdam, nemo sit laudantium.</li>

        </ul>
    </div>
    <div class="col-6 p-4 pt-5 mt-5">
        <h2>Welcome To RECIPELY</h2>
        <p>Discover 100+ Recipes in your hand with the best recipe.
            Help you to find the easiest way to cook.
        </p>
        <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2018/8/14/0/WU1910_Ranch-Pork-Chop-Sheet-Pan-Supper_s4x3.jpg.rend.hgtvcom.406.406.85.suffix/1534272447915.webp" width="100%" alt="">
    </div>

</div>