<div class="row">
    <div class="col-4"></div>
    <div class="col-4 border shadow rounded my-5 text-center">
        <div class="d-flex align-items-center my-4 " style="margin-left: 160px;">
            <i class="fa-solid fa-utensils fs-3"></i>
            <small class="ms-2 fs-4 text-success">Recipely</small>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <input type="email" formControlName="email" placeholder="Email" class="form-control">
            <div>
                @if(loginForm.get("email")?.errors && loginForm.get("email")?.touched){
                    <span class="text-danger" style="margin-right: 320px;">*Invalid Email</span>
                }
            </div>
            <input type="password" formControlName="password" placeholder="Password" class="form-control my-3">
            <div>
                @if(loginForm.get("password")?.errors && loginForm.get("password")?.touched){
                    <span class="text-danger" style="margin-right: 320px;">*Invalid Password</span>
                }
            </div>
            <button  class="btn btn-success mb-5">Login</button>
       
        </form>
        </div>
    <div class="col-4"></div>
</div>