<div class="row">
  <h6 style="margin-left: 1080px; margin-top: 20px;">Today's Date:{{date |date:'short'}}</h6>

</div>

<div class="row">
    <div class="col-2 mb-5 text-center">
        <h4 class="my-5">Filter</h4>
        <p >
        <button class="btn" (click)="getRecipes()">All</button>
        </p>
        <p class="d-inline-flex gap-1">
          
            <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
             Cuisine Type
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="row">
                @for (item of cuisineType; track $index) {
                    <div class="col">
                        <button class="btn" (click)="filterRecipe('cuisine',item)">{{item}}</button>
                    </div>
                }
            </div>
        </div>
          </div>
          <p class="d-inline-flex gap-1">
          
            <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
             Meal Type
            </button>
          </p>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body">
                <div class="row">
                @for (item of updateMealArray; track $index) {
                    <div class="col">
                        <button class="btn" (click)="filterRecipe('mealType',item)" >{{item}}</button>
                    </div>
                }
            </div>
        </div>
          </div>
    </div>
    <div class="col-10 mt-5">
        <h2 >All Recipes</h2>
        <div class="input-group rounded " style="margin-left: 800px; width: 300px;">
            <input [(ngModel)]="searchkey" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          </div>
        <div class="row text-center my-5">
        @for (item of recipeList | search:searchkey ;track $index){
            <div class="col-3 mx-2 mb-3" >
                <div class="card" style="width: 18rem;" (click)="viewRecipe(item._id)">
                    <img  [src]="item.image" class="card-img-top p-1 rounded" height="250px" alt="..." >
                    <div class="card-body">
                      <h5 class="card-title">{{item.name}}</h5>  
                      <p>Cuisine:{{item.cuisine}}</p>            
                    </div>
                  </div>
               </div>
        }
        
          
        </div>
    </div>
</div>